{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block object-tools %}
{{ block.super }}

    <div class="submit-row">
        <div action="/send_reinvite/" method="POST">
            {% csrf_token %}
                <input type="hidden" name="email_to_reinvite" id="resend_email" value="">
                <input type="submit" name="send_reinvite" value="Send Reinvite Link">
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var id_email = $("#id_email").val();
    $("#resend_email").val(id_email);
});
</script>
{% endblock %}